.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1b1b1b;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.celsius {
  width: 100px;
  height: 100px;
}

.temp-container {
  display: flex;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px;
}

.humidity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wind-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 300px;
  height: 300px;
}

.text-container {
  margin-top: 40px;
}

p {
  font-size: 20px;
  margin: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thinking-image {
  width: 100px;
}

.error-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.error-message {
  font-size: 18px;
  margin-top: 20px;
}